<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <script src="https://kit.fontawesome.com/5c10c10ea0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Ledig Parkeringsplads</title>
</head>
<body>
    <div id="app">
        <!--Header/Title-->
        <div class="container-fluid">
            <div class="row bg-dark shadow-lg">
                <div class="col-12">
                    <img alt="Icon SafeSpace" src="./Images/IconSafeSpace.png" 
                    style="height: 4rem; width: 9.666rem" class="img float-left my-2">
                    <button type="button" class="btn btn-info float-right mt-4">
                        Antal ledige båse: <span class="badge badge-light">{{emptyLots}}</span>
                    </button>
                </div>
            </div>
        </div>
        
        <!--Background image + new booking test-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center position-relativ" 
                style="background-image: url('./Images/Design\ uden\ navn\(7\).png'); height: 100vh; background-size:cover;">
                <h1 class="text-light position-absolute display-4 py-4" style="top: 39%; left: 50%; transform: translate(-50%, -50%)">Brug for en parkeringsbås?</h1>
                <button class="btn btn-info text-light font-weight-bold position-absolute px-5" style="top: 55%; left: 50%; transform: translate(-50%, -50%)" type="button">Book plads nu!</button>
                </div>
            </div>
        </div>
        <!--Input forms-->
        <div class="container-fluid">
            <div class="row my-2">
                <div class="col-2"></div>
                <div class="col-8">
                    <input v-model="LicensePlate" placeholder="Indtast Nummerplade" class="float-md-left my-2">
                    <input v-model.number="id" placeholder="Indtast Bruger Id" type="number" class="float-md-right my-2">
                </div>
                    <!--<v-dropdown :lokationer="lokationer"></v-dropdown>-->
                <div class="col-2"></div>
            </div>
        </div>
        
        <!--Sorterings knapper-->
        <div class="container-fluid">
            <div class="row my-2">
                <div class="col-2"></div>
                <div class="col-8">
                    <button v-on:click="getByLicensePlate(LicensePlate)" class="btn btn-info float-md-left my-2">
                        <i class="fa fa-car" aria-hidden="true"></i> Se via nummerplade 
                    </button>
                    <div v-if="SingleLicensePlate">
                        {{SingleLicensePlate.id}} {{SingleLicensePlate.username}} {{SingleLicensePlate.licensePlate}}
                        {{SingleLicensePlate.bookTime}}
                    </div>
                    <button v-on:click="getByUserId(id)" class="btn btn-info float-md-right my-2">
                        <i class="fa fa-user" aria-hidden="true"></i> Se via bruger id
                    </button>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <!--error message-->
        <div class="container-fluid">
            <div class="row my-3">
                <div class="col-md-12">
                    <div v-if="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong>{{error}}</strong> 
                    </div>
                </div>
            </div>
        </div>

        <!--Table/List over bookinger -->
        <div class="container-fluid">
            <div class="row py-3">
                <div class="col-md-2"></div>
                <div class="col-md-8 shadow">
                    <h2 class="text-left display-4 py-2" style="font-size:40px">Bookinger:</h2>
                    <table v-if="bookings.length" class="table table-striped table-inverse table-responsive table-hover">
                        <thead class="thead-inverse bg-info text-light">
                            <tr>
                                <th>Navn</th>
                                <th>Nummerplade</th>
                                <th>Booking Nr</th>
                                <th>P-bås Nr</th>
                                <th>Parkering Starttid</th>
                                <th>Parkering Sluttid</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="booking in bookings" :key="booking.id">
                                <td>{{booking.username}}</td>
                                <td>{{booking.licensePlate}}</td>
                                <td>{{booking.id}}</td>
                                <td>{{booking.parkingId}}</td>
                                <td>{{booking.startTime}}</td>
                                <td>{{booking.endTime}}</td>
                                
                            </tr>
                        </tbody>
                    </table>
                    <div v-else style="font-style: italic;">Posts doesn't exist</div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

        <!--Table/List over ParkingBoothList-->
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-md-2"></div>
                <div class="col-md-8 shadow-lg">
                    <h2 class="text-left display-4 py-2" style="font-size:40px">Parkeringsbåse:</h2>
                    <table v-if="parkingBooths.length" class="table table-striped table-inverse table-responsive table-hover">
                        <thead class="thead-inverse bg-info text-light">
                            <tr>
                                <th>Parkeringsbås Nr</th>
                                <th>Er Booked(1/0)</th>
                                <th>Er Optaget (1/0)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="parkingBooth in parkingBooths" :key="parkingBooth.id">
                                <td>{{parkingBooth.id}}</td>
                                <td>{{parkingBooth.isBooked}}</td>
                                <td>{{parkingBooth.isOccupied}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else style="font-style: italic;">Posts doesn't exist</div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <!--new booking error message-->
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div v-if="newBookingError" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong>Fejl!</strong> {{newBookingError}}
                    </div>
                    <div v-if="newBookingSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong>{{newBookingSuccess}} </strong> Din reservationsskode er : {{reservationCode}}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

        <!--add booking test-->
        <div class="container-fluid">
            <div class="row py-2 mb-1 align-items-center">
                <div class="col-md-2"></div>
                <div class="col-md-8 align-items-center">
                    <input type="text" placeholder="Indtast dit brugernavn" v-model="Booking.username" class="m-2">
                    <input type="text" placeholder="Indtast ønskede p-bås nr" v-model="Booking.parkingId" class="m-2">
                    <input type="text" placeholder="Indtast din nummerplade" v-model="Booking.licensePlate" class="m-2">
                    <input type="text" placeholder="Vælg starttid" v-model="Booking.startTime" class="m-2">
                    <input type="text" placeholder="Vælg sluttid" v-model="Booking.endTime" class="m-2">
                    <input type="number" placeholder="WarningTime" v-model="WarningTime" class="m-2"> 
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row py-2 mb-4 align-items-center">
                <div class="col-md-2"></div>
                <div class="col-md-8 align-items-center">
                    <button v-on:click="tryAddBooking" class="btn btn-info mx-2">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Tilføj booking
                    </button>  
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

        <!--bunden/footer-->
        <div class="container-fluid">
            <div class="row py-2 shadow">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center py-5 align-items-center">
                    <p>Følg vores projekt her:</p>
                    <a href="https://drive.google.com/drive/u/1/folders/1kFrtQS_tvihdgxub6V7ETHzkcOnA7NQL" class="btn btn-info m-2" role="button">
                        <i class="fab fa-google-drive" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/MathiasMeisner/3SemesterREST" class="btn btn-info m-2" role="button">
                        <i class="fab fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://trello.com/b/erCuAP5Y/den-r%C3%B8de-gruppe" class="btn btn-info m-2" role="button">
                        <i class="fab fa-trello" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Import Components
    <script src="./components/dropdown.js"></script> -->

    <!-- Mount App
    <script>const mountedApp = app.mount('#app')</script>  -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>