<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <script src="https://kit.fontawesome.com/5c10c10ea0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Ledig Parkeringsplads</title>
</head>

<body>
    <div id="app">
        <!--Header/Title-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-5 mt-4" style="text-align:center;">Parkeringspladser</h1>
                </div>
            </div>
            <hr class="my-4">
        </div>
        <!--Dropdown menu + knap-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input v-model="LicensePlate" placeholder="Search for license plate">
                    <button v-on:click="getByLicensePlate(LicensePlate)">Get by license plate</button>
                    <div v-if="SingleLicensePlate">
                        {{SingleLicensePlate.id}} {{SingleLicensePlate.username}} {{SingleLicensePlate.licensePlate}}
                        {{SingleLicensePlate.bookTime}}
                    </div>
                    <!--<v-dropdown :lokationer="lokationer"></v-dropdown>-->
                    <input v-model.number="id" placeholder="id" type="number">
                    <button v-on:click="getByUserId(id)">Get By User Id</button>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <!--error message-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div v-if="error" style="color :darkred">{{error}}</div>
                </div>
            </div>
        </div>

        <!--Table/List over bookinger -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <table v-if="bookings.length" class="table table-striped table-inverse table-responsive">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Booking Id</th>
                                <th>Parking Id</th>
                                <th>License Plate</th>
                                <th>Parking Start Time</th>
                                <th>Parking End Time</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="booking in bookings" :key="booking.id">
                                <td>{{booking.id}}</td>
                                <td>{{booking.parkingId}}</td>
                                <td>{{booking.licensePlate}}</td>
                                <td>{{booking.startTime}}</td>
                                <td>{{booking.endTime}}</td>
                                <td>{{booking.username}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else style="font-style: italic;">Posts doesn't exist</div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <!--Table/List component over nye bookinger/ParkingBoothList-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <table v-if="parkingBooths.length" class="table table-striped table-inverse table-responsive">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Parking Booth Id</th>
                                <th>Is booked(1/0)</th>
                                <th>is occupied (1/0)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="parkingBooth in parkingBooths" :key="parkingBooth.id">
                                <td>{{parkingBooth.id}}</td>
                                <td>{{parkingBooth.isBooked}}</td>
                                <td>{{parkingBooth.isOccupied}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else style="font-style: italic;">Posts doesn't exist</div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <!--new booking error message-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div v-if="newBookingError" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong>Fejl!</strong> {{newBookingError}}
                        <script>
                            $(".alert").alert();
                          </script>
                    </div>
                    <div v-if="newBookingSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong>{{newBookingSuccess}}</strong>
                        <script>
                            $(".alert").alert();
                          </script>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <!--add booking test-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input type="text" placeholder="username" v-model="Booking.username">
                    <input type="text" placeholder="parkingId" v-model="Booking.parkingId">
                    <input type="text" placeholder="licensePlate" v-model="Booking.licensePlate">
                    <input type="text" placeholder="startTime" v-model="Booking.startTime">
                    <input type="text" placeholder="EndTime" v-model="Booking.endTime">
                    <button v-on:click="tryAddBooking">Tilføj booking</button>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <br>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="text-center" id="LotsCounter">
                    <h4>Antal ledige båse: {{emptyLots}}</h4>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        


        <!--bunden/footer-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Import Components
<script src="./components/dropdown.js"></script> -->

    <!-- Mount App
<script>const mountedApp = app.mount('#app')</script>  -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>