<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id=app>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 id="myHeader" class="display-5 mt-4" style="text-align:center;">Product Owner</h1>
                </div>
            </div>
            <hr class="my-4">
        </div>

        <div class="container-fluid">
            <h4> Cars per day</h4>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Day, Month, Year</span>
                </div>
                <input id="inputfield1" type="number" placeholder="Day" v-model="day" >
                <input id="Month" type="number" placeholder="Month" v-model="month" >
                <input  id="Year"type="number" placeholder="Year" v-model="year" >
                <div class="input-group-append">
                    <button class="btn btn-primary" v-on:click="CountByDay(day,month,year)" id="Button">Get car by day</button>
                </div>
            </div>
            <div class="font-weight-bold" id="Output">{{singleCount}}</div>

        </div>
    </div>
    <script src="ProductOwner.js"></script>
</body>

</html>